# IMPORTAR LIBRERIAS

In [1]:
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
import numpy as np
import src.sharks_functions as sf

# DESCARGAR EL DATA

In [2]:
sh_attacks = pd.read_csv('attacks.csv',encoding = 'ISO-8859-1')

# MANIPULAR EL DATASET

In [3]:
sh_attacks.head(1)

,Case Number,Date,Year,Type,Country,Area,Location,Activity,Name,Sex,...,Species,Investigator or Source,pdf,href formula,href,Case Number.1,Case Number.2,original order,Unnamed: 22,Unnamed: 23
0,2018.06.25,25-Jun-2018,2018.0,Boating,USA,California,"Oceanside, San Diego County",Paddling,Julie Wolfe,F,...,White shark,"R. Collier, GSAF",2018.06.25-Wolfe.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2018.06.25,2018.06.25,6303.0,NaN,NaN

In [4]:
columnas = list(sh_attacks.columns)

In [5]:
print(columnas)

['Case Number', 'Date', 'Year', 'Type', 'Country', 'Area', 'Location', 'Activity', 'Name', 'Sex ', 'Age', 'Injury', 'Fatal (Y/N)', 'Time', 'Species ', 'Investigator or Source', 'pdf', 'href formula', 'href', 'Case Number.1', 'Case Number.2', 'original order', 'Unnamed: 22', 'Unnamed: 23']

In [6]:
sh_attacks_copia = sh_attacks.copy()

In [7]:
sh_attacks_copia.head(1)

,Case Number,Date,Year,Type,Country,Area,Location,Activity,Name,Sex,...,Species,Investigator or Source,pdf,href formula,href,Case Number.1,Case Number.2,original order,Unnamed: 22,Unnamed: 23
0,2018.06.25,25-Jun-2018,2018.0,Boating,USA,California,"Oceanside, San Diego County",Paddling,Julie Wolfe,F,...,White shark,"R. Collier, GSAF",2018.06.25-Wolfe.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2018.06.25,2018.06.25,6303.0,NaN,NaN

In [8]:
columnas_nuevas = {columna: columna.replace(" ", "_") for columna in columnas}

In [9]:
sh_attacks_copia.rename(columns=columnas_nuevas, inplace=True)

In [10]:
sh_attacks_copia.head(1)

,Case_Number,Date,Year,Type,Country,Area,Location,Activity,Name,Sex_,...,Species_,Investigator_or_Source,pdf,href_formula,href,Case_Number.1,Case_Number.2,original_order,Unnamed:_22,Unnamed:_23
0,2018.06.25,25-Jun-2018,2018.0,Boating,USA,California,"Oceanside, San Diego County",Paddling,Julie Wolfe,F,...,White shark,"R. Collier, GSAF",2018.06.25-Wolfe.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2018.06.25,2018.06.25,6303.0,NaN,NaN

In [11]:
sh_attacks2 = sh_attacks_copia[["Date","Year", "Type", "Country","Area", "Activity", "Sex_", "Age", "Injury", "Fatal_(Y/N)", "Time", "Species_", "Investigator_or_Source"]]

In [12]:
sh_attacks2.shape

(25723, 13)

# SELECCIONAR LOS DATOS CON LOS QUE TRABAJAR

In [13]:
sh_attacks3 = sh_attacks2.dropna(how="all")

In [14]:
sh_attacks3.shape

(6302, 13)

In [27]:
sh_attacks3.sample(10)

,Date,Year,Type,Country,Area,Activity,Sex_,Age,Injury,Fatal_(Y/N),Time,Species_,Investigator_or_Source
3804,Aug-1962,1962.0,Unprovoked,SENEGAL,Cap Vert Peninsula,Beach seine netting,M,23,Ankle bitten,N,NaN,3.5 m shark,S. Trape
1201,28-Sep-2008,2008.0,Unprovoked,USA,Florida,Surfing,M,40,Right foot bitten,N,11h00,+3' shark,S. Petersohn
3306,27-Feb-1973,1973.0,Unprovoked,MEXICO,Guerrero,Swimming,NaN,57,"FATAL, multiple bites",Y,NaN,NaN,"Reno Gazette, 4/8/1973; A.Resciniti, pp.108-109"
3949,06-Nov-1960,1960.0,Unprovoked,AUSTRALIA,Western Australia,"Spearfishing, speared fish retreated to cave w...",M,24,Scratches on right upper arm,N,NaN,"Wobbegong shark, 1.8 m [6']","The West Australian (Perth), 11/7/1960; V.M...."
3439,09-Mar-1969,1969.0,Unprovoked,USA,Hawaii,Surfing,M,16,Leg & surfboard bitten,N,17h30,"White shark, identified by tooth fragments in ...","J. Borg, p.73; L. Taylor (1993), pp.102-103"
5181,04-Jul-1924,1924.0,Boating,USA,California,Fishing,M,? & 14,"No injury, shark tore hole in the side of the ...",N,NaN,NaN,"The Daily Pilot, 3/6/2010, citing The Times 7/..."
5641,23-Apr-1895,1895.0,Unprovoked,NEW ZEALAND,South Island,Swimming,M,NaN,Lacerations to foot,N,Early morning,NaN,"Star, 4/25/1895, p."
2897,17-Mar-1984,1984.0,Invalid,SOMALIA,NaN,Murder,M,NaN,Forced at gunpoint to jump overboard. Presume...,NaN,NaN,Shark involvement prior to death was not confi...,"Courier Mail, 5/18/1984"
2035,12-Jul-2000,2000.0,Unprovoked,TONGA,Minerva Reef,Scuba diving,M,69,Left arm bitten,N,NaN,"Grey reef shark, 2 m [6.75']",www.spearfishingsa.co.za
3339,16-Mar-1972,1972.0,Unprovoked,USA,Hawaii,Spearfishing,M,NaN,Leg bitten,N,NaN,NaN,"J. Borg, p.74; L. Taylor (1993), pp.102-103"

In [21]:
sh_attacks3.Type.unique()

array(['Boating', 'Unprovoked', 'Invalid', 'Provoked', 'Questionable',
       'Sea Disaster', nan, 'Boat', 'Boatomg'], dtype=object)

In [22]:
sh_attacks3.Activity.unique()

array(['Paddling', 'Standing', 'Surfing', ...,
       'Crew swimming alongside their anchored ship',
       '4 men were bathing', 'Wreck of  large double sailing canoe'],
      dtype=object)

In [23]:
sh_attacks3.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 6302 entries, 0 to 6301
Data columns (total 13 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   Date                    6302 non-null   object
 1   Year                    6300 non-null   float64
 2   Type                    6298 non-null   object
 3   Country                 6252 non-null   object
 4   Area                    5847 non-null   object
 5   Activity                5758 non-null   object
 6   Sex_                    5737 non-null   object
 7   Age                     3471 non-null   object
 8   Injury                  6274 non-null   object
 9   Fatal_(Y/N)             5763 non-null   object
 10  Time                    2948 non-null   object
 11  Species_                3464 non-null   object
 12  Investigator_or_Source  6285 non-null   object
dtypes: float64(1), object(12)
memory usage: 689.3+ KB

In [24]:
sh_attacks3.isna().sum()

Date                         0
Year                         2
Type                         4
Country                     50
Area                       455
Activity                   544
Sex_                       565
Age                       2831
Injury                      28
Fatal_(Y/N)                539
Time                      3354
Species_                  2838
Investigator_or_Source      17
dtype: int64