# IMPORTAR LIBRERIAS

In [1]:
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
import numpy as np
import src.sharks_functions as sf

# DESCARGAR EL DATA

In [2]:
sh_attacks = pd.read_csv('attacks.csv',encoding = 'ISO-8859-1')
"""Descargar los datos con los cuales vamos a trabajar """

'Descargar los datos con los cuales vamos a trabajar '

# MANIPULAR EL DATASET

In [3]:
sh_attacks.head(1)
"""Ver lo que analiza cada columna"""

'Ver lo que analiza cada columna'

In [4]:
columnas = list(sh_attacks.columns)

In [5]:
print(columnas)

['Case Number', 'Date', 'Year', 'Type', 'Country', 'Area', 'Location', 'Activity', 'Name', 'Sex ', 'Age', 'Injury', 'Fatal (Y/N)', 'Time', 'Species ', 'Investigator or Source', 'pdf', 'href formula', 'href', 'Case Number.1', 'Case Number.2', 'original order', 'Unnamed: 22', 'Unnamed: 23']

In [6]:
sh_attacks_copia = sh_attacks.copy()

In [7]:
sh_attacks_copia.head(1)

,Case Number,Date,Year,Type,Country,Area,Location,Activity,Name,Sex,...,Species,Investigator or Source,pdf,href formula,href,Case Number.1,Case Number.2,original order,Unnamed: 22,Unnamed: 23
0,2018.06.25,25-Jun-2018,2018.0,Boating,USA,California,"Oceanside, San Diego County",Paddling,Julie Wolfe,F,...,White shark,"R. Collier, GSAF",2018.06.25-Wolfe.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2018.06.25,2018.06.25,6303.0,NaN,NaN

In [8]:
columnas_nuevas = {columna: columna.replace(" ", "_") for columna in columnas}

In [9]:
sh_attacks_copia.rename(columns=columnas_nuevas, inplace=True)

In [10]:
sh_attacks_copia.head(1)

,Case_Number,Date,Year,Type,Country,Area,Location,Activity,Name,Sex_,...,Species_,Investigator_or_Source,pdf,href_formula,href,Case_Number.1,Case_Number.2,original_order,Unnamed:_22,Unnamed:_23
0,2018.06.25,25-Jun-2018,2018.0,Boating,USA,California,"Oceanside, San Diego County",Paddling,Julie Wolfe,F,...,White shark,"R. Collier, GSAF",2018.06.25-Wolfe.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2018.06.25,2018.06.25,6303.0,NaN,NaN

In [11]:
sh_attacks2 = sh_attacks_copia[["Case_Number","Year", "Type", "Country","Area", "Activity", "Sex_", "Age", "Injury", "Fatal_(Y/N)", "Time", "Species_", "Investigator_or_Source"]]

In [12]:
sh_attacks2.shape

(25723, 13)

# SELECCIONAR LOS DATOS CON LOS QUE TRABAJAR

In [13]:
sh_attacks3 = sh_attacks2.dropna(how="all")

In [14]:
sh_attacks3.shape

(8703, 13)

In [15]:
sh_attacks3.sample(2)

,Case_Number,Year,Type,Country,Area,Activity,Sex_,Age,Injury,Fatal_(Y/N),Time,Species_,Investigator_or_Source
4396,1952.12.14,1952.0,Invalid,GUATEMALA,NaN,Air Disaster,F,NaN,It is probable that all onboard (2 men & 2 wom...,NaN,NaN,Shark involvement prior to death was not confi...,"The Frederick Post (Maryland), 12/17/1952, p.1"
3062,1980.07.00,1980.0,Unprovoked,USA,North Carolina,Surfing,M,NaN,"No injury, bumped off board",N,NaN,NaN,"C. Creswell, GSAF, J. Barnes"

In [16]:
sh_attacks3.Type.unique()

array(['Boating', 'Unprovoked', 'Invalid', 'Provoked', 'Questionable',
       'Sea Disaster', nan, 'Boat', 'Boatomg'], dtype=object)

In [17]:
sh_attacks3.Activity.unique()

array(['Paddling', 'Standing', 'Surfing', ...,
       'Crew swimming alongside their anchored ship',
       '4 men were bathing', 'Wreck of  large double sailing canoe'],
      dtype=object)

In [18]:
sh_attacks3.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 8703 entries, 0 to 25722
Data columns (total 13 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   Case_Number             8702 non-null   object
 1   Year                    6300 non-null   float64
 2   Type                    6298 non-null   object
 3   Country                 6252 non-null   object
 4   Area                    5847 non-null   object
 5   Activity                5758 non-null   object
 6   Sex_                    5737 non-null   object
 7   Age                     3471 non-null   object
 8   Injury                  6274 non-null   object
 9   Fatal_(Y/N)             5763 non-null   object
 10  Time                    2948 non-null   object
 11  Species_                3464 non-null   object
 12  Investigator_or_Source  6285 non-null   object
dtypes: float64(1), object(12)
memory usage: 951.9+ KB

In [19]:
sh_attacks3.isna().sum()

Case_Number                  1
Year                      2403
Type                      2405
Country                   2451
Area                      2856
Activity                  2945
Sex_                      2966
Age                       5232
Injury                    2429
Fatal_(Y/N)               2940
Time                      5755
Species_                  5239
Investigator_or_Source    2418
dtype: int64

In [20]:
sh_attacks4 = sh_attacks3.fillna("absent")

In [21]:
sh_attacks4.isna().sum()

Case_Number               0
Year                      0
Type                      0
Country                   0
Area                      0
Activity                  0
Sex_                      0
Age                       0
Injury                    0
Fatal_(Y/N)               0
Time                      0
Species_                  0
Investigator_or_Source    0
dtype: int64

In [22]:
sh_attacks4.sample(3)

,Case_Number,Year,Type,Country,Area,Activity,Sex_,Age,Injury,Fatal_(Y/N),Time,Species_,Investigator_or_Source
7559,0,absent,absent,absent,absent,absent,absent,absent,absent,absent,absent,absent,absent
8672,0,absent,absent,absent,absent,absent,absent,absent,absent,absent,absent,absent,absent
7010,0,absent,absent,absent,absent,absent,absent,absent,absent,absent,absent,absent,absent

In [23]:
sh_attacks5 = sh_attacks4.drop_duplicates()

In [24]:
sh_attacks5.shape

(6304, 13)

In [25]:
sh_attacks6 = sh_attacks5.reset_index(drop=True)

In [26]:
sh_attacks6.tail(1)

,Case_Number,Year,Type,Country,Area,Activity,Sex_,Age,Injury,Fatal_(Y/N),Time,Species_,Investigator_or_Source
6303,xx,absent,absent,absent,absent,absent,absent,absent,absent,absent,absent,absent,absent

In [27]:
list_columnas = list(sh_attacks6.columns)

In [28]:
print(list_columnas)

['Case_Number', 'Year', 'Type', 'Country', 'Area', 'Activity', 'Sex_', 'Age', 'Injury', 'Fatal_(Y/N)', 'Time', 'Species_', 'Investigator_or_Source']

In [30]:
Split_Date_df = sh_attacks6["Case_Number"].str.split(".", expand = True)

In [31]:
display(Split_Date_df)

         0     1     2     3     4     5
0     2018    06    25  None  None  None
1     2018    06    18  None  None  None
2     2018    06    09  None  None  None
3     2018    06    08  None  None  None
4     2018    06    04  None  None  None
...    ...   ...   ...   ...   ...   ...
6299    ND  0003  None  None  None  None
6300    ND  0002  None  None  None  None
6301    ND  0001  None  None  None  None
6302     0  None  None  None  None  None
6303    xx  None  None  None  None  None

[6304 rows x 6 columns]

In [42]:
list(Split_Date_df.columns)

[0, 1, 2, 3, 4, 5]

In [59]:
Split_Date_df[1].unique()
""

array(['06', '05', '04', '03', '02', '01', '12', '11', '10', '09', '08',
       '07', '07-10', '00', '30', None, '29', '0214', '0336', '0493',
       '0725', '0110', '0104', '0102', '0100', '0097', '0096', '0095',
       '0094', '0093', '0091', '0090', '0089', '0088', '0087', '0086',
       '0085', '0084', '0083', '0082', '0081', '0078', '0076', '0075',
       '0074', '0073', '0069', '0068', '0066', '0065', '0064', '0063',
       '0062', '0060', '0059', '0058', '0057', '0056', '0055', '0054',
       '0053', '0052', '0051', '0049', '0048', '0047', '0046', '0044',
       '0043', '0042', '0041', '0040', '0039', '0038', '0037', '0036',
       '0035', '0034', '0033', '0032', '0031', '0030', '0028', '0027',
       '0026', '0025', '0024', '0023', '0022', '0021', '0020', '0019',
       '0018', '0017', '0016', '0015', '0014', '0013', '0012', '0011',
       '0010', '0009', '0008', '0007', '0006', '0005', '0004', '0003',
       '0002', '0001'], dtype=object)

In [ ]:
col_names = ["x1", "x2", "x3", "x4", "x5", "x6", "x7", "x8", "x9", "x10", "x11", "x12", "x13"]

In [ ]:
Split_Date_df2 = Split_Date_df

In [ ]:
Split_Date_df = pd.DataFrame(Split_Date_series)

In [ ]:
Split_Date_df.shape

In [ ]:
Split_Date_df.Date.len()

In [ ]:
New_dates = Split_Date_df["Date"].str.split(",")
data = New_dates.to_list()
Sep_date = ["Day", "Month", "Year"]
Sep_dates = pd.DataFrame(data, columns = Sep_date)

In [ ]:
if len(elemento) == 3:
        Meses.append(elemento[1])
    elif len(elemento) != 3:
        print("No month")