# IMPORTAR LIBRERIAS

In [1]:
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
import numpy as np
import src.sharks_functions as sf

# DESCARGAR EL DATA

In [2]:
sh_attacks = pd.read_csv('attacks.csv',encoding = 'ISO-8859-1')

# MANIPULAR EL DATASET

In [3]:
sh_attacks.head(1)

,Case Number,Date,Year,Type,Country,Area,Location,Activity,Name,Sex,...,Species,Investigator or Source,pdf,href formula,href,Case Number.1,Case Number.2,original order,Unnamed: 22,Unnamed: 23
0,2018.06.25,25-Jun-2018,2018.0,Boating,USA,California,"Oceanside, San Diego County",Paddling,Julie Wolfe,F,...,White shark,"R. Collier, GSAF",2018.06.25-Wolfe.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2018.06.25,2018.06.25,6303.0,NaN,NaN

In [4]:
columnas = list(sh_attacks.columns)

In [5]:
print(columnas)

['Case Number', 'Date', 'Year', 'Type', 'Country', 'Area', 'Location', 'Activity', 'Name', 'Sex ', 'Age', 'Injury', 'Fatal (Y/N)', 'Time', 'Species ', 'Investigator or Source', 'pdf', 'href formula', 'href', 'Case Number.1', 'Case Number.2', 'original order', 'Unnamed: 22', 'Unnamed: 23']

In [6]:
sh_attacks_copia = sh_attacks.copy()

In [7]:
sh_attacks_copia.head(1)

,Case Number,Date,Year,Type,Country,Area,Location,Activity,Name,Sex,...,Species,Investigator or Source,pdf,href formula,href,Case Number.1,Case Number.2,original order,Unnamed: 22,Unnamed: 23
0,2018.06.25,25-Jun-2018,2018.0,Boating,USA,California,"Oceanside, San Diego County",Paddling,Julie Wolfe,F,...,White shark,"R. Collier, GSAF",2018.06.25-Wolfe.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2018.06.25,2018.06.25,6303.0,NaN,NaN

In [8]:
columnas_nuevas = {columna: columna.replace(" ", "_") for columna in columnas}

In [9]:
sh_attacks_copia.rename(columns=columnas_nuevas, inplace=True)

In [10]:
sh_attacks_copia.head(1)

,Case_Number,Date,Year,Type,Country,Area,Location,Activity,Name,Sex_,...,Species_,Investigator_or_Source,pdf,href_formula,href,Case_Number.1,Case_Number.2,original_order,Unnamed:_22,Unnamed:_23
0,2018.06.25,25-Jun-2018,2018.0,Boating,USA,California,"Oceanside, San Diego County",Paddling,Julie Wolfe,F,...,White shark,"R. Collier, GSAF",2018.06.25-Wolfe.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2018.06.25,2018.06.25,6303.0,NaN,NaN

In [11]:
sh_attacks2 = sh_attacks_copia[["Date","Year", "Type", "Country","Area", "Activity", "Sex_", "Age", "Injury", "Fatal_(Y/N)", "Time", "Species_", "Investigator_or_Source"]]

In [12]:
sh_attacks2.shape

(25723, 13)

# SELECCIONAR LOS DATOS CON LOS QUE TRABAJAR

In [13]:
sh_attacks3 = sh_attacks2.dropna(how="all")

In [14]:
sh_attacks3.shape

(6302, 13)

In [42]:
sh_attacks3.sample(2)

,Date,Year,Type,Country,Area,Activity,Sex_,Age,Injury,Fatal_(Y/N),Time,Species_,Investigator_or_Source
5777,Reported 28-Apr-1884,1884.0,Unprovoked,BRAZIL,NaN,Fell overboard from the steamship Chala,M,NaN,FATAL,Y,NaN,NaN,"Pittsburgh Post Gazette, 4/28/1884"
6211,Before 2003,0.0,Unprovoked,GREECE,Dodecanese Islands,Free diving for sponges,M,NaN,FATAL,Y,NaN,NaN,M. Kalafatas

In [43]:
sh_attacks3.Type.unique()

array(['Boating', 'Unprovoked', 'Invalid', 'Provoked', 'Questionable',
       'Sea Disaster', nan, 'Boat', 'Boatomg'], dtype=object)

In [44]:
sh_attacks3.Activity.unique()

array(['Paddling', 'Standing', 'Surfing', ...,
       'Crew swimming alongside their anchored ship',
       '4 men were bathing', 'Wreck of  large double sailing canoe'],
      dtype=object)

In [45]:
sh_attacks3.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 6302 entries, 0 to 6301
Data columns (total 13 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   Date                    6302 non-null   object
 1   Year                    6300 non-null   float64
 2   Type                    6298 non-null   object
 3   Country                 6252 non-null   object
 4   Area                    5847 non-null   object
 5   Activity                5758 non-null   object
 6   Sex_                    5737 non-null   object
 7   Age                     3471 non-null   object
 8   Injury                  6274 non-null   object
 9   Fatal_(Y/N)             5763 non-null   object
 10  Time                    2948 non-null   object
 11  Species_                3464 non-null   object
 12  Investigator_or_Source  6285 non-null   object
dtypes: float64(1), object(12)
memory usage: 689.3+ KB

In [46]:
sh_attacks3.isna().sum()

Date                         0
Year                         2
Type                         4
Country                     50
Area                       455
Activity                   544
Sex_                       565
Age                       2831
Injury                      28
Fatal_(Y/N)                539
Time                      3354
Species_                  2838
Investigator_or_Source      17
dtype: int64

In [47]:
sh_attacks4 = sh_attacks3.fillna("absent")

In [48]:
sh_attacks4.isna().sum()

Date                      0
Year                      0
Type                      0
Country                   0
Area                      0
Activity                  0
Sex_                      0
Age                       0
Injury                    0
Fatal_(Y/N)               0
Time                      0
Species_                  0
Investigator_or_Source    0
dtype: int64

In [51]:
sh_attacks4.sample(3)

,Date,Year,Type,Country,Area,Activity,Sex_,Age,Injury,Fatal_(Y/N),Time,Species_,Investigator_or_Source
6148,1764,1764.0,Unprovoked,SPAIN,absent,Swimming,M,absent,FATAL,Y,absent,absent,"C. Moore, GSAF"
3366,5-Apr-1971,1971.0,Unprovoked,VENEZUELA,absent,absent,M,14,"FATAL, body not recovered",Y,absent,absent,H.D. Baldridge (1994) SAF Case #1646
1661,26-Jun-2004,2004.0,Invalid,AUSTRALIA,Western Australia,Crayfishing,M,absent,"No injury, shark made threat displays & diver ...",absent,absent,Invalid,"T. Peake, GSAF; Sunday Times (Perth) 6/27/200..."

In [37]:
sh_attacks5 = sh_attacks4.drop_duplicates()

In [52]:
sh_attacks5.shape

(6296, 13)

In [54]:
list_columnas = list(sh_attacks5.columns)

In [55]:
print(list_columnas)

['Date', 'Year', 'Type', 'Country', 'Area', 'Activity', 'Sex_', 'Age', 'Injury', 'Fatal_(Y/N)', 'Time', 'Species_', 'Investigator_or_Source']

In [58]:
Split_Date = sh_attacks5["Date"].str.split("-")

In [59]:
Split_Date

0       [25, Jun, 2018]
1       [18, Jun, 2018]
2       [09, Jun, 2018]
3       [08, Jun, 2018]
4       [04, Jun, 2018]
             ...
6297      [Before 1903]
6298      [Before 1903]
6299       [1900, 1905]
6300       [1883, 1889]
6301       [1845, 1853]
Name: Date, Length: 6296, dtype: object

In [62]:
Meses = []

In [75]:
for elemento in Split_Date:
    if len(elemento) == 3:
        Meses.append(elemento[1])
    elif len(elemento) != 3:
         "No month"

SyntaxError: 'return' outside function (1693293480.py, line 5)