# IMPORTAR LIBRERIAS

In [1]:
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
import numpy as np

# DESCARGAR EL DATA

In [2]:
sh_attacks = pd.read_csv('attacks.csv',encoding = 'ISO-8859-1')
"""Descargar los datos con los cuales vamos a trabajar """

'Descargar los datos con los cuales vamos a trabajar '

# MANIPULAR EL DATASET

In [3]:
sh_attacks.head(1)
#Ver lo que analiza cada columna

,Case Number,Date,Year,Type,Country,Area,Location,Activity,Name,Sex,...,Species,Investigator or Source,pdf,href formula,href,Case Number.1,Case Number.2,original order,Unnamed: 22,Unnamed: 23
0,2018.06.25,25-Jun-2018,2018.0,Boating,USA,California,"Oceanside, San Diego County",Paddling,Julie Wolfe,F,...,White shark,"R. Collier, GSAF",2018.06.25-Wolfe.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2018.06.25,2018.06.25,6303.0,NaN,NaN

In [4]:
columnas = list(sh_attacks.columns) 
#Hacer una lista con todas las columnas del dataframe

In [5]:
print(columnas)

['Case Number', 'Date', 'Year', 'Type', 'Country', 'Area', 'Location', 'Activity', 'Name', 'Sex ', 'Age', 'Injury', 'Fatal (Y/N)', 'Time', 'Species ', 'Investigator or Source', 'pdf', 'href formula', 'href', 'Case Number.1', 'Case Number.2', 'original order', 'Unnamed: 22', 'Unnamed: 23']

In [6]:
sh_attacks_copia = sh_attacks.copy()
#Hacer una copia del sharks attack dataframe

In [7]:
sh_attacks_copia.head(1)

,Case Number,Date,Year,Type,Country,Area,Location,Activity,Name,Sex,...,Species,Investigator or Source,pdf,href formula,href,Case Number.1,Case Number.2,original order,Unnamed: 22,Unnamed: 23
0,2018.06.25,25-Jun-2018,2018.0,Boating,USA,California,"Oceanside, San Diego County",Paddling,Julie Wolfe,F,...,White shark,"R. Collier, GSAF",2018.06.25-Wolfe.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2018.06.25,2018.06.25,6303.0,NaN,NaN

In [8]:
columnas_nuevas = {columna: columna.replace(" ", "_") for columna in columnas}
#Reemplazar los espacios por barrabajas en las columnas para un analisis mas detallado

In [9]:
sh_attacks_copia.rename(columns=columnas_nuevas, inplace=True)
#Reenombrar los nombres de las columnas del data set.

In [10]:
sh_attacks_copia.head(1)

,Case_Number,Date,Year,Type,Country,Area,Location,Activity,Name,Sex_,...,Species_,Investigator_or_Source,pdf,href_formula,href,Case_Number.1,Case_Number.2,original_order,Unnamed:_22,Unnamed:_23
0,2018.06.25,25-Jun-2018,2018.0,Boating,USA,California,"Oceanside, San Diego County",Paddling,Julie Wolfe,F,...,White shark,"R. Collier, GSAF",2018.06.25-Wolfe.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2018.06.25,2018.06.25,6303.0,NaN,NaN

In [11]:
sh_attacks2 = sh_attacks_copia[["Case_Number","Year", "Type", "Country","Area", "Activity", "Sex_", "Age", "Injury", "Fatal_(Y/N)", "Time", "Species_", "Investigator_or_Source"]]

In [12]:
sh_attacks2.shape

(25723, 13)

# SELECCIONAR LOS DATOS CON LOS QUE TRABAJAR

In [13]:
sh_attacks3 = sh_attacks2.dropna(how="all")
#Quitar las filas del data set que solo tienen NaN en toda la fila

In [14]:
sh_attacks3.shape
#Se reduce el número de filas de 25,723 a 8,703

(8703, 13)

In [15]:
sh_attacks3.sample(2)

,Case_Number,Year,Type,Country,Area,Activity,Sex_,Age,Injury,Fatal_(Y/N),Time,Species_,Investigator_or_Source
7300,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2213,1997.12.25.a,1997.0,Unprovoked,USA,Florida,Swimming,M,8,Left leg gashed knee to ankle,N,NaN,NaN,"Orlando Sentinel, 12/27/1997, p.D.3; Globe New..."

In [16]:
sh_attacks3.Type.unique()
# Ver todas las variables de la columna Type

array(['Boating', 'Unprovoked', 'Invalid', 'Provoked', 'Questionable',
       'Sea Disaster', nan, 'Boat', 'Boatomg'], dtype=object)

In [17]:
sh_attacks3.Activity.unique()
# Ver todas las variables de la columna Activity

array(['Paddling', 'Standing', 'Surfing', ...,
       'Crew swimming alongside their anchored ship',
       '4 men were bathing', 'Wreck of  large double sailing canoe'],
      dtype=object)

In [18]:
sh_attacks3.info()
#Información del Data Frame

<class 'pandas.core.frame.DataFrame'>
Int64Index: 8703 entries, 0 to 25722
Data columns (total 13 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   Case_Number             8702 non-null   object
 1   Year                    6300 non-null   float64
 2   Type                    6298 non-null   object
 3   Country                 6252 non-null   object
 4   Area                    5847 non-null   object
 5   Activity                5758 non-null   object
 6   Sex_                    5737 non-null   object
 7   Age                     3471 non-null   object
 8   Injury                  6274 non-null   object
 9   Fatal_(Y/N)             5763 non-null   object
 10  Time                    2948 non-null   object
 11  Species_                3464 non-null   object
 12  Investigator_or_Source  6285 non-null   object
dtypes: float64(1), object(12)
memory usage: 951.9+ KB

In [19]:
sh_attacks3.isna().sum()
# Sumar todos los valores NaN por columna

Case_Number                  1
Year                      2403
Type                      2405
Country                   2451
Area                      2856
Activity                  2945
Sex_                      2966
Age                       5232
Injury                    2429
Fatal_(Y/N)               2940
Time                      5755
Species_                  5239
Investigator_or_Source    2418
dtype: int64

In [20]:
sh_attacks4 = sh_attacks3.fillna("absent")
#Reemplazar los valores NaN de todo el data set por la palabra absent.

In [21]:
sh_attacks4.isna().sum()
# Verificar que los valores NaN han desaparecido

Case_Number               0
Year                      0
Type                      0
Country                   0
Area                      0
Activity                  0
Sex_                      0
Age                       0
Injury                    0
Fatal_(Y/N)               0
Time                      0
Species_                  0
Investigator_or_Source    0
dtype: int64

In [22]:
sh_attacks4.sample(3)

,Case_Number,Year,Type,Country,Area,Activity,Sex_,Age,Injury,Fatal_(Y/N),Time,Species_,Investigator_or_Source
169,2017.03.18,2017.0,Boating,USA,California,Kayaking,M,absent,"No injury, kayak bitten",N,14h30,White shark,"R. Collier, GSAF"
2014,2000.09.08.c,2000.0,Unprovoked,TANZANIA,absent,Swimming,M,28,FATAL,Y,absent,Thought to involve a Zambesi shark,E. Matechi; A. Mbogora
6076,1837.07.00,1837.0,Unprovoked,USA,New York,Bathing,M,absent,Leg injured,N,Evening,absent,"Public Ledger, 7.13/1837"

In [23]:
sh_attacks5 = sh_attacks4.drop_duplicates()
# Formula para eliminar todas aquellas filas que estan duplicadas y son exactamente igual

In [24]:
sh_attacks5.shape
# Ver el la forma del Data Frame habiendo quitado todos los duplicados.

(6304, 13)

In [25]:
sh_attacks6 = sh_attacks5.reset_index(drop=True)
# Resetear el índice para ver el número de casos exactos.

In [26]:
sh_attacks6.tail(1)

,Case_Number,Year,Type,Country,Area,Activity,Sex_,Age,Injury,Fatal_(Y/N),Time,Species_,Investigator_or_Source
6303,xx,absent,absent,absent,absent,absent,absent,absent,absent,absent,absent,absent,absent

In [27]:
list_columnas = list(sh_attacks6.columns)

In [28]:
print(list_columnas)

['Case_Number', 'Year', 'Type', 'Country', 'Area', 'Activity', 'Sex_', 'Age', 'Injury', 'Fatal_(Y/N)', 'Time', 'Species_', 'Investigator_or_Source']

In [29]:
Split_Date_df = sh_attacks6["Case_Number"].str.split(".", expand = True)
# Hacer un Data Frame nuevo separado en columnas siempre y cuando haya un punto

In [30]:
display(Split_Date_df)

         0     1     2     3     4     5
0     2018    06    25  None  None  None
1     2018    06    18  None  None  None
2     2018    06    09  None  None  None
3     2018    06    08  None  None  None
4     2018    06    04  None  None  None
...    ...   ...   ...   ...   ...   ...
6299    ND  0003  None  None  None  None
6300    ND  0002  None  None  None  None
6301    ND  0001  None  None  None  None
6302     0  None  None  None  None  None
6303    xx  None  None  None  None  None

[6304 rows x 6 columns]

In [31]:
list(Split_Date_df.columns)
# Hacer una lista de las columnas del nuevo Data Frame

[0, 1, 2, 3, 4, 5]

In [32]:
#Ya que la columna de meses es la columna 1, hacerme un nuevo data Drame con el mes en el que ocurrió el caso.

In [33]:
months_df = Split_Date_df[[1]]

In [34]:
display(months_df)
# Ver el mes en el cual ocurrií casa caso.

         1
0       06
1       06
2       06
3       06
4       06
...    ...
6299  0003
6300  0002
6301  0001
6302  None
6303  None

[6304 rows x 1 columns]

In [35]:
months_df[1].unique()
# Ver los meses que hay en el data frame de meses.
#Previamente he visto los unique values de todas las columnas y la única columna que tenía 01-12 era esta columna.

array(['06', '05', '04', '03', '02', '01', '12', '11', '10', '09', '08',
       '07', '07-10', '00', '30', None, '29', '0214', '0336', '0493',
       '0725', '0110', '0104', '0102', '0100', '0097', '0096', '0095',
       '0094', '0093', '0091', '0090', '0089', '0088', '0087', '0086',
       '0085', '0084', '0083', '0082', '0081', '0078', '0076', '0075',
       '0074', '0073', '0069', '0068', '0066', '0065', '0064', '0063',
       '0062', '0060', '0059', '0058', '0057', '0056', '0055', '0054',
       '0053', '0052', '0051', '0049', '0048', '0047', '0046', '0044',
       '0043', '0042', '0041', '0040', '0039', '0038', '0037', '0036',
       '0035', '0034', '0033', '0032', '0031', '0030', '0028', '0027',
       '0026', '0025', '0024', '0023', '0022', '0021', '0020', '0019',
       '0018', '0017', '0016', '0015', '0014', '0013', '0012', '0011',
       '0010', '0009', '0008', '0007', '0006', '0005', '0004', '0003',
       '0002', '0001'], dtype=object)

In [36]:
months_df1 = months_df[1].replace(['07-10', '00', '30', None, '29', '0214', '0336', '0493',
       '0725', '0110', '0104', '0102', '0100', '0097', '0096', '0095',
       '0094', '0093', '0091', '0090', '0089', '0088', '0087', '0086',
       '0085', '0084', '0083', '0082', '0081', '0078', '0076', '0075',
       '0074', '0073', '0069', '0068', '0066', '0065', '0064', '0063',
       '0062', '0060', '0059', '0058', '0057', '0056', '0055', '0054',
       '0053', '0052', '0051', '0049', '0048', '0047', '0046', '0044',
       '0043', '0042', '0041', '0040', '0039', '0038', '0037', '0036',
       '0035', '0034', '0033', '0032', '0031', '0030', '0028', '0027',
       '0026', '0025', '0024', '0023', '0022', '0021', '0020', '0019',
       '0018', '0017', '0016', '0015', '0014', '0013', '0012', '0011',
       '0010', '0009', '0008', '0007', '0006', '0005', '0004', '0003',
       '0002', '0001'], "absent")
# Reemplazar todos los valores que nio dicen ningun mes por la palabra absent.

In [37]:
months_df1.value_counts()
# Ver el número de valores absent

07        668
08        598
09        554
absent    534
01        520
06        499
04        457
12        443
10        441
03        410
11        406
05        392
02        382
Name: 1, dtype: int64

In [38]:
type(months_df1)

pandas.core.series.Series

In [39]:
list_months = list(months_df1)
#Hacer una lista de la serie nueva de meses.

In [40]:
print(list_months)

['06', '06', '06', '06', '06', '06', '06', '05', '05', '05', '05', '05', '05', '05', '05', '05', '05', '04', '04', '04', '04', '04', '04', '04', '04', '04', '04', '04', '04', '04', '04', '04', '04', '04', '04', '03', '03', '03', '03', '02', '02', '02', '02', '02', '02', '02', '02', '01', '01', '01', '01', '01', '01', '12', '12', '12', '12', '11', '11', '11', '11', '11', '11', '11', '11', '10', '10', '10', '10', '10', '10', '10', '10', '10', '10', '10', '10', '09', '09', '09', '09', '09', '09', '09', '09', '09', '09', '09', '09', '09', '09', '09', '09', '09', '09', '09', '08', '08', '08', '08', '08', '08', '08', '08', '08', '08', '07', '07', '07', '07', '07', '07', '07', '07', '07', '07', '07', '07', '07', '07', '07', '07', '07', '07', '07', '06', '06', '06', '06', '06', '06', '06', '06', '06', '06', '06', '06', '06', '06', '05', '05', '05', '05', '05', '05', '05', '04', '04', '04', '04', '04', '04', '04', '04', '04', '04', '04', '04', '04', '04', '04', '04', '04', '04', '04', '04', '04', '03', '03', '03', '03', '03', '02', '02', '02', '02', '02', '02', '02', '02', '02', '01', '01', '01', '01', '01', '01', '01', '01', '01', '12', '12', '12', '12', '12', '12', '12', '12', '11', '11', '10', '10', '10', '10', '10', '10', '10', '10', '10', '10', '10', '09', '09', '09', '09', '09', '09', '09', '09', '09', '09', '09', '09', '09', '09', '09', '09', '08', '08', '08', '08', '08', '08', '08', '07', '07', '07', '07', '07', '07', '07', '07', '07', '07', '07', '07', '07', '07', '07', '07', '07', '07', '07', '07', '07', '06', '06', '06', '06', '06', '06', '06', '06', '06', '06', '06', '06', '06', '06', '06', '06', '05', '05', '05', '05', '05', '05', '05', '05', '05', '05', '04', '04', '04', '04', '04', '04', '04', '04', '04', '04', '04', '03', '03', '03', '03', '03', '03', '03', '03', '03', '03', '03', '02', '02', '02', '02', '02', '02', '02', '02', '01', '01', '01', '01', '01', '01', '01', '01', '01', '12', '12', '12', '12', '12', '12', '12', '12', '12', '11', '11', '11', '11', '11', '12', '11', '11', '11', '10', '10', '10', '10', '10', '10', '10', '10', '10', '10', '10', '10', '10', '10', '10', '10', '09', '09', '09', '09', '09', '09', '09', '09', '09', '09', '09', '09', '09', '09', '09', '09', '09', '08', '08', '08', '08', '08', '08', '08', '08', '08', '07', '07', '07', '07', '07', '07', '07', '07', '07', '07', 'absent', '07', '07', '07', '07', '07', '07', '07', '06', '06', '06', '06', '06', '06', '06', '06', '06', '06', '06', '06', '06', '06', '06', '06', '06', '06', '06', '06', '06', '05', '05', '05', '05', '05', '05', '05', '05', '05', '05', '04', '04', '04', '04', '04', '04', '04', '04', '03', '03', '03', '03', '03', '03', '03', '03', '03', '02', '02', '02', '02', '02', '01', '01', '01', '01', '01', '01', '01', '01', '01', '01', '01', '01', '12', '12', '12', '12', '12', '12', '12', '12', '12', '11', '11', '11', '11', '11', '11', '11', '11', '10', '10', '10', '10', '10', '10', '10', '10', '10', '10', '10', '10', '10', '10', '10', '10', '10', '09', '09', '09', '09', '09', '09', '09', '09', '08', '08', '08', '08', '08', '08', '08', '08', '08', '08', '08', '08', '08', '08', '08', '08', '08', '08', '08', '08', '08', '07', '07', '07', '07', '07', '07', '07', '07', '07', '07', '07', '07', '06', '06', '06', '06', '06', '06', '06', '06', '06', '06', '06', '06', '06', '05', '05', '05', '05', '05', '05', '05', '05', '05', '05', '05', '04', '04', '04', '04', '04', '04', '04', '04', '03', '03', '03', '03', '03', '03', '03', '03', '03', '03', '02', '02', '02', '02', '02', '01', '01', '01', 'absent', 'absent', '12', '12', '12', '12', '12', '12', '12', '11', '11', '11', '11', '11', '11', '11', '11', '10', '10', '10', '10', '10', '10', '10', '10', '10', '10', '10', '10', '09', '09', '09', '09', '09', '09', '09', '09', '09', '09', '09', '09', '09', '09', '08', '08', '08', '08', '08', '08', '08', '08', '08', '08', '08', '08', '08', '07', '07', '07', '07', '07', '07', '07', '07', '07', '07', '07', '07', '07', '07', '07', '06', '06', '06', '06', '06', '06', '06', '06', '06', '06', '06', '06', '05', '05', '05', '05', '05', '05', '05', '05', '04', '04', '04', '04', '04', '04', '04', '04', '04', '04', '04', '03', '03', '03', '03', '03', '03', '03', '03', '03', '03', '02', '02', '02', '02', '02', '02', '01', '01', '01', '01', '01', '01', '12', '12', '12', '12', '12', '12', '12', '12', '11', '11', '11', '11', '11', '11', '10', '10', '10', '10', '10', '10', '10', '10', '10', '10', '09', '09', '09', '09', '09', '09', '09', '09', '09', '09', '09', '09', '09', '08', '08', '08', '08', '08', '08', '08', '08', '07', '07', '07', '07', '07', '07', '07', '07', '07', '07', '07', '07', '07', '07', '06', '06', '06', '06', '06', '06', '06', '06', '06', '06', '06', '06', '06', '06', '06', '06', '06', '06', '06', '05', '05', '05', '05', '05', '05', '05', '05', '04', '04', '04', '04', '04', '03', '03', '03', '03', '03', '03', '03', '03', '03', '03', '03', '03', '03', '02', '02', '02', '02', '01', '01', '01', '01', '01', '01', '01', '01', '01', '12', '12', '12', '12', '12', '12', '12', '12', '12', '12', '12', '12', '11', '11', '11', '11', '11', '11', '10', '10', '10', '10', '10', '10', '10', '10', '10', '10', '10', '10', '09', '09', '09', '09', '09', '09', '09', '09', '09', '09', '09', '09', '09', '09', '08', '08', '08', '08', '08', '08', '08', '08', '08', '08', '08', '08', '08', '08', '08', '08', '08', '07', '07', '07', '07', '07', '07', '07', '07', '07', '07', '07', '07', '06', '06', '06', '06', '06', '06', '06', '06', '06', '06', '06', '06', '06', '06', '06', '05', '05', '05', '05', '05', '05', '05', '05', '05', '05', '05', '04', '04', '04', '04', '04', '04', '03', '03', '03', '03', '03', '03', '03', '03', '02', '02', '02', '02', '02', '02', '02', '02', '01', '01', '01', '01', '01', '01', '01', '12', '12', '12', '12', '12', '12', '12', '11', '11', '11', '11', '11', '11', '11', '11', '10', '10', '10', '10', '10', '10', '10', '10', '10', '10', '10', '10', '09', '09', '09', '09', '09', '09', '09', '09', '09', '09', '08', '08', '08', '08', '08', '08', '08', '08', '08', '08', '08', '08', '07', '07', '07', '07', '07', '07', '07', '07', '07', '07', '07', '07', '06', '06', '06', '06', '06', '06', '06', '05', '05', '05', '05', '05', '05', '04', '04', '04', '04', '03', '02', '02', '02', '02', '02', '02', '02', '02', '02', '02', '02', '01', '01', '01', '01', '01', '01', '01', '01', '01', '01', '01', '12', '12', '12', '12', '12', '12', '12', '12', '12', '12', '12', '11', '11', '11', '11', '11', '11', '11', '11', '10', '10', '10', '10', '10', '10', '10', '10', '10', '10', '09', '09', '09', '09', '09', '09', '09', '09', '08', '08', '08', '08', '08', '08', '08', '07', '07', '07', '07', '07', '07', '07', '07', '07', '07', '07', '07', '07', '07', '06', '06', '06', '06', '06', '06', '06', '05', '05', '05', '05', '05', '05', '05', '04', '04', '04', '04', '04', '04', '04', '04', '04', '04', '04', '03', '03', '03', '03', '03', '03', '03', '03', '03', '03', '03', '03', '03', '02', '02', '02', '02', '02', '02', '02', '01', '01', '01', '01', '01', '01', '01', '01', '01', '01', '01', '01', '01', '01', '01', '01', '01', '12', '12', '12', '12', '12', '12', '12', '12', '12', '12', '11', '11', '11', '11', '11', '11', '10', '10', '10', '10', '10', '10', '09', '09', '09', '09', '09', '09', '09', '09', '09', '09', '09', '08', '08', '08', '08', '08', '08', '08', '08', '08', '08', '08', '08', '07', '07', '07', '07', '07', '07', '07', '07', '07', '07', '07', '07', '07', '07', '07', '07', '07', '06', '06', '06', '06', '06', '06', '06', '06', '06', '06', '06', '06', '06', '06', '05', '05', '05', '05', '05', '05', '05', '05', '05', '04', '04', '04', '04', '04', '04', '04', '04', '04', '04', '04', '04', '04', '03', '04', '04', '04', '03', '03', '03', '03', '03', '03', '03', '02', '02', '02', '02', '02', '01', '01', '01', '01', '01', '01', 'absent', 'absent', '12', '12', '12', '12', '12', '12', '12', '12', '11', '11', '11', '11', '11', '11', '11', '10', '10', '10', '10', '10', '09', '09', '09', '09', '09', '09', '09', '09', '09', '09', '09', '09', '09', '09', '09', '09', '09', '09', '08', '08', '08', '08', '08', '08', '08', '08', '08', '08', '08', '08', '08', '08', '08', '07', '07', '07', '07', '07', '07', '07', '07', '07', '07', '07', '07', '07', '07', '06', '06', '06', '06', '06', '06', '06', '05', '05', '05', '05', '05', '05', '05', '05', '05', '05', '05', '05', '04', '04', '04', '04', '04', '04', '03', '03', '03', '03', '03', '03', '03', '03', '03', '02', '02', '02', '01', '01', '01', '01', '01', '01', '01', '01', '12', '12', '12', '12', '12', '11', '11', '11', '10', '10', '10', '10', '10', '10', '10', '09', '09', '09', '09', '09', '09', '09', '09', '09', '09', '09', '08', '08', '08', '08', '08', '08', '08', '08', '08', '08', '08', '07', '07', '07', '07', '07', '07', '07', '07', '07', '07', '07', '07', '07', '07', '07', '07', '06', '06', '06', '06', '06', '06', '06', '06', '06', '06', '06', '05', '05', '05', '05', '05', '05', '05', '05', '05', '04', '04', '04', '04', '04', '04', '04', '04', '03', '03', '03', '03', '03', '02', '02', '02', '02', '02', '02', '02', '02', '01', '01', '01', '01', '01', '01', '01', '01', '01', '12', '12', '12', '12', '12', '11', '11', '11', '11', '11', '11', '11', '11', '11', '11', '11', '11', '11', '10', '10', '10', '10', '10', '10', '10', '10', '10', '10', '10', '09', '09', '09', '09', '09', '09', '09', '09', '09', '09', '09', '08', '08', '08', '08', '08', '08', '08', '08', '08', '07', '07', '07', '07', '07', '07', '07', '07', '07', '06', '06', '06', '06', '06', '06', '06', '06', '06', '06', '06', '05', '05', '05', '05', '05', '05', '05', '05', '04', '04', '04', '04', '04', '04', '04', '04', '04', '03', '03', '03', '03', '03', '03', '03', '03', '02', '02', '02', '02', '02', '01', '01', '01', '01', '12', '12', '12', '11', '11', '11', '11', '11', '11', '10', '10', '10', '10', '10', '10', '10', '10', '10', '10', '09', '09', '09', '09', '09', '08', '08', '08', '08', '08', '08', '08', '07', '07', '07', '07', '07', '07', '07', '07', '07', '07', '07', '06', '06', '06', '06', '06', '06', '05', '05', '05', '05', '05', '05', '05', '05', '05', '05', '04', '04', '04', '04', '04', '04', '04', '03', '03', '03', '03', '03', '03', '03', '03', '03', '03', '02', '02', '02', '02', '02', '02', '01', '01', '01', '01', '01', '01', '01', '01', '01', '01', 'absent', '12', '12', '12', '12', '12', '11', '11', '11', '11', '11', '11', '11', '11', '11', '11', '10', '10', '10', '10', '10', '10', '10', '10', '10', '10', '10', '10', '09', '09', '09', '09', '09', '09', '09', '09', '09', '09', '09', '09', '08', '08', '08', '08', '07', '07', '07', '07', '07', '07', '07', '07', '07', '07', '06', '06', '06', '06', '06', '06', '06', '06', '06', '05', '05', '05', '05', '05', '05', '04', '04', '04', '04', '04', '04', '04', '04', '04', '04', '04', '04', '04', '04', '04', '03', '02', '02', '02', '02', '02', '01', '01', '01', '12', '12', '12', '12', '12', '12', '11', '11', '11', '11', '11', '11', '11', '10', '10', '10', '10', '10', '10', '09', '09', '09', '09', '09', '09', '09', '09', '09', '09', '09', '09', '08', '08', '08', '08', '08', '08', '08', '07', '07', '07', '07', '07', '07', '06', '06', '06', '06', '06', '06', '06', '06', '06', '06', '05', '05', '05', '05', '05', '05', '05', '05', '05', '04', '04', '04', '04', '04', '04', '04', '04', '03', '03', '03', '03', '03', '03', '03', '02', '02', '02', '02', '01', '01', '01', '01', '01', '01', '12', '11', '11', '11', '10', '10', '09', '09', '09', '09', '09', '09', '09', '09', '09', '09', '09', '09', '09', '09', '09', '08', '08', '08', '08', '08', '08', '08', '08', '08', '08', '08', '08', '08', '08', '08', '08', '08', '08', '07', '07', '07', '07', '07', '07', '07', '07', '07', '07', '06', '06', '06', '06', '05', '05', '05', '05', '05', '05', '05', '05', '05', '04', '04', '04', '04', '04', '04', '04', '04', '04', '04', '04', '04', '04', '04', '04', '04', '04', '03', '03', '03', '03', '03', '02', '02', '02', '01', '01', '01', '01', '01', '12', '12', '12', '12', '12', '12', '11', '11', '11', '11', '11', '11', '11', '10', '10', '10', '10', '10', '10', '10', '10', '09', '09', '09', '09', '09', '09', '09', '09', '09', '09', '09', '09', '09', '09', '09', '08', '08', '08', '08', '08', '08', '08', '08', '08', '08', '07', '07', '07', '07', '07', '07', '07', '07', '07', '07', '07', '07', '07', '07', '07', '07', '07', '06', '06', '06', '06', '06', '06', '06', '06', '06', '05', '05', '05', '05', '04', '04', '03', '03', '03', '03', '03', '03', '03', '03', '03', '03', '03', '02', '02', '02', '02', '02', '01', '01', 'absent', '12', '12', '12', '12', '12', '12', '12', '11', '11', '11', '11', '11', '11', '11', '10', '10', '10', '10', '09', '09', '09', '09', '09', '09', '09', '09', '08', '08', '08', '08', '08', '08', '08', '07', '07', '07', '07', '07', '07', '07', '06', '06', '06', '06', '05', '05', '04', '04', '04', '03', '03', '03', '03', '03', '03', '03', '02', '02', '02', '01', '01', '01', '01', '01', 'absent', 'absent', '12', '12', '12', '12', '12', '11', '11', '11', '11', '11', '11', '10', '10', '10', '10', '10', '10', '09', '09', '09', '09', '09', '08', '08', '08', '08', '08', '08', '08', '08', '08', '07', '07', '07', '07', '07', '06', '06', '06', '06', '05', '05', '05', '05', '05', '05', '05', '04', '04', '04', '04', '04', '03', '03', '03', '02', '01', '01', '01', '01', '01', '01', 'absent', 'absent', 'absent', '12', '12', '12', '12', '11', '11', '11', '10', '10', '10', '10', '10', '10', '09', '09', '09', '09', '08', '08', '08', '08', '08', '08', '08', '08', '08', '08', '08', '08', '08', '08', '07', '07', '07', '07', '07', '07', '06', '06', '06', '06', '06', '05', '05', '05', '05', '05', '04', '02', '02', '02', '02', '02', '01', '01', '01', '01', '12', '12', '12', '12', '11', '11', '10', '10', '10', '10', '10', '10', '10', '09', '09', '09', '09', '09', '09', '09', '08', '08', '08', '07', '07', '07', '07', '07', '07', '07', '07', '07', '06', '06', '06', '05', '05', '05', '05', '05', '04', '04', '04', '04', '03', '03', '02', '02', '02', '02', '02', '02', '02', '01', '01', '01', '01', '01', '01', 'absent', 'absent', '12', '11', '11', '11', '11', '10', '10', '10', '10', '09', '09', '09', '09', '09', '09', '09', '09', '09', '09', '08', '08', '08', '08', '08', '08', '08', '08', '08', '08', '08', '08', '08', '08', '08', '08', '08', '07', '07', '07', '07', '07', '07', '07', '07', '11', '07', '07', '07', '06', '06', '06', '06', '06', '06', '06', '06', '06', '05', '05', '05', '05', '05', '04', '04', '04', '04', '03', '03', '03', '02', '02', '01', '01', 'absent', 'absent', 'absent', 'absent', '12', '12', '12', '12', '12', '12', '12', '12', '11', '11', '11', '10', '10', '10', '10', '09', '09', '09', '09', '08', '07', '07', '07', '07', '07', '07', '07', '06', '05', '05', '05', '05', '05', '05', '04', '04', '04', '04', '04', '03', '03', '03', '03', '02', '02', '02', '02', '02', '01', '01', '01', '01', '01', '01', 'absent', 'absent', '12', '11', '11', '11', '11', '10', '10', '10', '10', '09', '09', '09', '09', '09', '09', '09', '08', '08', '08', '08', '08', '08', '08', '08', '08', '07', '07', '06', '06', '06', '06', '06', '06', '06', '06', '06', '05', '05', '04', '03', '03', '03', '03', '03', '03', '02', '02', '02', '01', '01', '01', '01', 'absent', 'absent', 'absent', 'absent', '12', '12', '11', '11', '11', '11', '11', '11', '11', '11', '10', '10', '10', '10', '10', '09', '09', '09', '09', '09', '08', '08', '08', '08', '08', '08', '07', '07', '07', '07', '06', '06', '06', '06', '06', '05', '05', '05', '04', '04', '03', '03', '03', '03', '03', '02', '02', '02', '01', '01', '01', '01', '01', '01', '01', 'absent', '12', '11', '11', '11', '11', '11', '10', '10', '09', '09', '08', '08', '08', '08', '07', '07', '07', '07', '07', '07', '07', '06', '06', '06', '06', '06', '05', '05', '04', '04', '04', '04', '03', '02', '02', '01', '01', '01', '12', '11', '11', '11', '10', '10', '10', '10', '10', '10', '10', '09', '09', '09', '08', '08', '08', '08', '07', '07', '06', '06', '05', '05', '05', '05', '04', '04', '04', '04', '04', '04', '03', '03', '02', '02', '01', 'absent', '12', '12', '12', '11', '11', '11', '11', '10', '10', '10', '10', '10', '10', '09', '09', '09', '09', '09', '09', '08', '08', '08', '08', '08', '08', '07', '07', '07', '07', '07', '06', '06', '06', '06', '06', '06', '04', '04', '04', '04', '04', '03', '03', '02', '02', '02', '01', '01', '01', '01', '01', '01', 'absent', 'absent', '12', '11', '11', '10', '10', '10', '10', '10', '10', '10', '10', '09', '09', '09', '08', '08', '08', '08', '07', '07', '07', '07', '07', '07', '07', '06', '06', '06', '06', '06', '05', '05', '05', '04', '04', '04', '04', '04', '04', '04', '03', '03', '03', '03', '02', '02', '02', '02', '02', '01', '01', '01', '01', '01', 'absent', '12', '12', '12', '11', '11', '10', '10', '10', '10', '09', '09', '08', '08', '07', '07', '07', '07', '07', '07', '06', '05', '05', '05', '04', '04', '04', '04', '03', '03', '02', '02', '01', '01', 'absent', 'absent', '12', '12', '12', '12', '12', '12', '12', '11', '11', '11', '10', '10', '10', '10', '10', '09', '09', '09', '08', '08', '08', '08', '07', '07', '07', '05', '05', '04', '04', '03', '03', '03', '02', '02', '02', '02', '02', '01', 'absent', '12', '12', '11', '11', '11', '10', '10', '10', '10', '10', '09', '09', '09', '09', '08', '08', '08', '07', '07', '07', '07', '07', '05', '05', '03', '03', '02', '02', '01', '01', '01', '01', '01', '01', '01', 'absent', 'absent', '12', '11', '11', '11', '10', '10', '10', '10', '09', '09', '09', '09', '09', '09', '09', '09', '09', '08', '08', '07', '07', '07', '07', '07', '06', '06', '06', '05', '03', '03', '03', '03', '02', '02', '02', '02', '01', '01', 'absent', 'absent', '12', '12', '12', '12', '12', '12', '11', '11', '11', '10', '10', '09', '08', '08', '08', '08', '08', '08', '07', '07', '07', '07', '07', '07', '07', '06', '06', '06', '06', '06', '06', '05', '05', '05', '04', '04', '04', '04', '03', '03', '03', '03', '02', '01', '01', '01', '01', 'absent', 'absent', 'absent', '11', '10', '09', '09', '09', '09', '09', '09', '08', '08', '08', '08', '07', '07', '07', '07', '07', '07', '07', '06', '06', '06', '06', '06', '05', '03', '03', '03', '02', '02', '02', '02', '02', '02', '02', '02', '01', 'absent', 'absent', 'absent', '12', '12', '12', '11', '10', '11', '10', '10', '10', '10', '09', '09', '09', '09', '09', '08', '08', '08', '08', '08', '08', '07', '07', '07', '07', '06', '06', '05', '05', '05', '05', '05', '05', '05', '03', '05', '03', '03', '03', '03', '02', '02', '02', '02', '02', '01', '01', 'absent', 'absent', '12', '12', '11', '11', '11', '11', '10', '10', '08', '08', '08', '07', '07', '07', '07', '07', '06', '05', '04', '04', '04', '03', '03', '03', '03', '01', '01', '01', '01', '01', '01', 'absent', 'absent', 'absent', 'absent', '12', '12', '12', '11', '11', '10', '09', '08', '08', '08', '08', '06', '05', '05', '05', '05', '05', '04', '04', '03', '03', '03', '03', '02', 'absent', '12', '12', '11', '11', '10', '09', '09', '09', '08', '08', '07', '07', '06', '06', '06', '04', '04', '04', '03', '02', '02', '01', '01', 'absent', 'absent', '12', '12', '12', '12', '11', '10', '08', '08', '08', '08', '08', '07', '06', '06', '05', '05', '04', '04', '03', '03', '03', '03', '02', '02', '02', '01', '12', '12', '11', '11', '11', '11', '11', '10', '10', '10', '09', '09', '09', '09', '09', '09', '08', '08', '07', '07', '07', '07', '06', '06', '06', '06', '05', '04', '03', '03', '03', '03', '02', '01', '01', '01', '01', '01', 'absent', '12', '12', '12', '11', '11', '11', '11', '10', '10', '10', '09', '08', '08', '08', '08', '07', '07', '07', '07', '07', '07', '07', '07', '07', '06', '06', '06', '06', '06', '05', '05', '04', '04', '04', '03', '03', '03', '03', '03', '03', '02', '02', '02', '02', '02', '02', '01', 'absent', 'absent', '12', '11', '09', '09', '09', '09', '09', '09', '09', '08', '08', '08', '08', '08', '08', '07', '07', '07', '06', '05', '04', '04', '04', '04', '04', '03', '03', '02', '02', '02', '02', '01', '01', '01', '01', '01', 'absent', 'absent', '12', '12', '12', '12', '12', '11', '11', '11', '09', '09', '09',

In [41]:
sh_attacks6["Month"] = list_months
#Añadir una nueva columna al data Frame con el mes donde el tiburón decidio atacar.

In [42]:
sh_attacks6.sample(2)

,Case_Number,Year,Type,Country,Area,Activity,Sex_,Age,Injury,Fatal_(Y/N),Time,Species_,Investigator_or_Source,Month
2632,1990.06.23,1990.0,Unprovoked,BAHAMAS,absent,Spearfishing,M,38,Left forearm bitten,N,14h30,1.2 m to 1.5 m [4' to 5'] shark,"Miami Herald, 6/25/1990",06
2142,1999.01.03,1999.0,Unprovoked,REUNION,Saint-Leu,Spearfishing,absent,absent,FATAL,Y,absent,Bull shark,G. Van Grevelynghe,01

In [43]:
sh_attacks6.Type.unique()

array(['Boating', 'Unprovoked', 'Invalid', 'Provoked', 'Questionable',
       'Sea Disaster', 'absent', 'Boat', 'Boatomg'], dtype=object)

In [44]:
type_df = sh_attacks6["Type"]
#Crear un Data Frame solo con la columna de tipo de accidente.

In [45]:
type(type_df)
# Entiendo que los accidentes del tipo Boating, Boat y Boatomg son todos accidentes de barco.
# Por lo tanto, paso a llamar a todos estos accidentes de tipo Boat.

pandas.core.series.Series

In [46]:
type_df1 = type_df.replace({'Boating':'Boat'})
#Reemplazo boating por boat

In [47]:
type_df1.unique()

array(['Boat', 'Unprovoked', 'Invalid', 'Provoked', 'Questionable',
       'Sea Disaster', 'absent', 'Boatomg'], dtype=object)

In [48]:
type_df2 = type_df1.replace({'Boatomg':'Boat'})
# Reemplazo Boatomg por Boat

In [49]:
type_df2.unique()

array(['Boat', 'Unprovoked', 'Invalid', 'Provoked', 'Questionable',
       'Sea Disaster', 'absent'], dtype=object)

In [50]:
display(type_df2)

0             Boat
1       Unprovoked
2          Invalid
3       Unprovoked
4         Provoked
           ...
6299    Unprovoked
6300    Unprovoked
6301    Unprovoked
6302        absent
6303        absent
Name: Type, Length: 6304, dtype: object

In [51]:
list_types_of_accident = list(type_df2)

In [52]:
sh_attacks6["Type_of_accident"] = list_types_of_accident
#Añadir una columna con el tipo de accidente detallado de manera correcta.

In [53]:
sh_attacks6.Sex_.value_counts()

M         5094
F          637
absent     567
M            2
N            2
lli          1
.            1
Name: Sex_, dtype: int64

In [54]:
Sex_df = sh_attacks6["Sex_"]

In [55]:
Sex_df1 = Sex_df.replace({'M ':'M'})

In [56]:
Sex_df2 = Sex_df1.replace({'N','lli', '.'}, 'absent')
#Reemplazar todas las que no dicen nada por absent

In [57]:
list_Sex = list(Sex_df2)

In [58]:
Sex_df2.unique()

array(['F', 'M', 'absent'], dtype=object)

In [59]:
sh_attacks6["Sex"] = list_Sex

In [60]:
sh_attacks6.sample(3)

,Case_Number,Year,Type,Country,Area,Activity,Sex_,Age,Injury,Fatal_(Y/N),Time,Species_,Investigator_or_Source,Month,Type_of_accident,Sex
6244,ND.0062,0.0,Unprovoked,BAHAMAS,Andros Islands,absent,M,absent,Lower leg and forearm severed,N,absent,"White shark, 7' to 8'","Star-Ledger (Newark, NJ), 8/22/1960",absent,Unprovoked,M
2183,1998.06.08,1998.0,Unprovoked,USA,Florida,Surfing,M,18,"2-inch laceration on dorsum of foot, 1-inch la...",N,18h00,absent,"S. Petersohn, GSAF",06,Unprovoked,M
1422,2006.10.10,2006.0,Unprovoked,USA,Florida,Surfing,M,20,Left ankle bitten,N,11h30,absent,"S. Petersohn, GSAF",10,Unprovoked,M

In [61]:
#COLUMNAS A ELIMINAR DE sh_attacks 6 : Case_Number, Sex_, Type

In [62]:
print(list(sh_attacks6.columns))

['Case_Number', 'Year', 'Type', 'Country', 'Area', 'Activity', 'Sex_', 'Age', 'Injury', 'Fatal_(Y/N)', 'Time', 'Species_', 'Investigator_or_Source', 'Month', 'Type_of_accident', 'Sex']

In [63]:
sh_attacks6["Fatal_(Y/N)"].unique()

array(['N', 'Y', 'absent', 'M', 'UNKNOWN', '2017', ' N', 'N ', 'y'],
      dtype=object)

In [64]:
Fatal_df = sh_attacks6["Fatal_(Y/N)"]

In [65]:
Fatal_df1 = Fatal_df.replace({' N', 'N '}, 'N')

In [66]:
Fatal_df2 = Fatal_df1.replace({'M', 'UNKNOWN', '2017'}, 'absent')

In [67]:
Fatal_df3 = Fatal_df2.replace({'y'}, 'Y')

In [68]:
list_fatal = list(Fatal_df3)

In [69]:
sh_attacks6["Fatal_attack_(Y/N)"] = list_fatal

In [70]:
#COLUMNAS A ELIMINAR DE sh_attacks 6 : Case_Number, Sex_, Type, Fatal_(Y/N)

In [71]:
sh_attacks6.sample(2)

,Case_Number,Year,Type,Country,Area,Activity,Sex_,Age,Injury,Fatal_(Y/N),Time,Species_,Investigator_or_Source,Month,Type_of_accident,Sex,Fatal_attack_(Y/N)
4698,1942.11.01,1942.0,Unprovoked,SOUTH AFRICA,Western Cape Province,Swimming,M,18,"FATAL, body not recovered",Y,12h30,"White shark, 4.5 m to 6 m [14'9"" to 20'] acco...","Natal Daily News, 11/28/1942, M. Levine, GSAF;...",11,Unprovoked,M,Y
3771,1963.01.06,1963.0,Unprovoked,SOUTH AFRICA,KwaZulu-Natal,Spearfishing,M,24,Lacerations to right arm,N,16h00,"Zambesi shark, 2 m [6'9""]","D. Davies, p.117-118; C. Passmore, M. Levine, ...",01,Unprovoked,M,N

In [72]:
sh_attacks6.shape

(6304, 17)

In [73]:
type(sh_attacks6)

pandas.core.frame.DataFrame

In [74]:
sh_attacks7 = sh_attacks6.drop(['Case_Number', 'Sex_', 'Type', 'Fatal_(Y/N)'], axis=1)
#Al estar varias columnas duplicadas, he quitado todas las "malas"

In [75]:
sh_attacks7

,Year,Country,Area,Activity,Age,Injury,Time,Species_,Investigator_or_Source,Month,Type_of_accident,Sex,Fatal_attack_(Y/N)
0,2018.0,USA,California,Paddling,57,"No injury to occupant, outrigger canoe and pad...",18h00,White shark,"R. Collier, GSAF",06,Boat,F,N
1,2018.0,USA,Georgia,Standing,11,Minor injury to left thigh,14h00 -15h00,absent,"K.McMurray, TrackingSharks.com",06,Unprovoked,F,N
2,2018.0,USA,Hawaii,Surfing,48,Injury to left lower leg from surfboard skeg,07h45,absent,"K.McMurray, TrackingSharks.com",06,Invalid,M,N
3,2018.0,AUSTRALIA,New South Wales,Surfing,absent,Minor injury to lower leg,absent,2 m shark,"B. Myatt, GSAF",06,Unprovoked,M,N
4,2018.0,MEXICO,Colima,Free diving,absent,Lacerations to leg & hand shark PROVOKED INCIDENT,absent,"Tiger shark, 3m",A .Kipper,06,Provoked,M,N
...,...,...,...,...,...,...,...,...,...,...,...,...,...
6299,0.0,USA,North Carolina,Swimming,absent,FATAL,absent,absent,"F. Schwartz, p.23; C. Creswell, GSAF",absent,Unprovoked,M,Y
6300,0.0,PANAMA,absent,absent,absent,FATAL,absent,absent,"The Sun, 10/20/1938",absent,Unprovoked,M,Y
6301,0.0,CEYLON (SRI LANKA),Eastern Province,Swimming,15,"FATAL. ""Shark bit him in half, carrying away t...",absent,absent,S.W. Baker,absent,Unprovoked,M,Y
6302,absent,absent,absent,absent,absent,absent,absent,absent,absent,absent,absent,absent,absent
6303,absent,absent,absent,absent,absent,absent,absent,absent,absent,absent,absent,absent,absent

In [76]:
sh_attacks8 = sh_attacks7.drop_duplicates()
#Ya que muchos valores han cambiado, aquí he quitado otra vez todas aquellas celdas duplicadas.

In [79]:
sh_attacks9 = sh_attacks8.reset_index(drop=True)

In [83]:
sh_attacks9

,Year,Country,Area,Activity,Age,Injury,Time,Species_,Investigator_or_Source,Month,Type_of_accident,Sex,Fatal_attack_(Y/N)
0,2018.0,USA,California,Paddling,57,"No injury to occupant, outrigger canoe and pad...",18h00,White shark,"R. Collier, GSAF",06,Boat,F,N
1,2018.0,USA,Georgia,Standing,11,Minor injury to left thigh,14h00 -15h00,absent,"K.McMurray, TrackingSharks.com",06,Unprovoked,F,N
2,2018.0,USA,Hawaii,Surfing,48,Injury to left lower leg from surfboard skeg,07h45,absent,"K.McMurray, TrackingSharks.com",06,Invalid,M,N
3,2018.0,AUSTRALIA,New South Wales,Surfing,absent,Minor injury to lower leg,absent,2 m shark,"B. Myatt, GSAF",06,Unprovoked,M,N
4,2018.0,MEXICO,Colima,Free diving,absent,Lacerations to leg & hand shark PROVOKED INCIDENT,absent,"Tiger shark, 3m",A .Kipper,06,Provoked,M,N
...,...,...,...,...,...,...,...,...,...,...,...,...,...
6290,0.0,AUSTRALIA,Western Australia,Diving,absent,FATAL,absent,absent,"H. Taunton; N. Bartlett, p. 234",absent,Unprovoked,M,Y
6291,0.0,AUSTRALIA,Western Australia,Pearl diving,absent,FATAL,absent,absent,"H. Taunton; N. Bartlett, pp. 233-234",absent,Unprovoked,M,Y
6292,0.0,USA,North Carolina,Swimming,absent,FATAL,absent,absent,"F. Schwartz, p.23; C. Creswell, GSAF",absent,Unprovoked,M,Y
6293,0.0,PANAMA,absent,absent,absent,FATAL,absent,absent,"The Sun, 10/20/1938",absent,Unprovoked,M,Y
6294,0.0,CEYLON (SRI LANKA),Eastern Province,Swimming,15,"FATAL. ""Shark bit him in half, carrying away t...",absent,absent,S.W. Baker,absent,Unprovoked,M,Y

In [82]:
type(sh_attacks9)

pandas.core.frame.DataFrame

In [88]:
sh_attacks9.Age.unique()

array(['57', '11', '48', 'absent', '18', '52', '15', '12', '32', '10',
       '21', '34', '30', '60', '33', '29', '54', '41', '37', '56', '19',
       '25', '69', '38', '55', '35', '46', '45', '14', '40s', '28', '20',
       '24', '26', '49', '22', '7', '31', '17', '40', '13', '42', '3',
       '8', '50', '16', '82', '73', '20s', '68', '51', '39', '58', 'Teen',
       '47', '61', '65', '36', '66', '43', '60s', '9', '72', '59', '6',
       '27', '64', '23', '71', '44', '62', '63', '70', '18 months', '53',
       '30s', '50s', 'teen', '77', '74', '28 & 26', '5', '86', '18 or 20',
       '12 or 13', '46 & 34', '28, 23 & 30', 'Teens', '36 & 26',
       '8 or 10', '84', '\xa0 ', ' ', '30 or 36', '6½', '21 & ?', '75',
       '33 or 37', 'mid-30s', '23 & 20', ' 30', '7      &    31', ' 28',
       '20?', "60's", '32 & 30', '16 to 18', '87', '67', 'Elderly',
       'mid-20s', 'Ca. 33', '74 ', '45 ', '21 or 26', '20 ', '>50',
       '18 to 22', 'adult', '9 & 12', '? & 19', '9 months', '25 to 35',
       '23 & 26', '1', '(adult)', '33 & 37', '25 or 28',
       '37, 67, 35, 27,  ? & 27', '21, 34,24 & 35', '30 & 32', '50 & 30',
       '17 & 35', 'X', '"middle-age"', '13 or 18', '34 & 19', '33 & 26',
       '2 to 3 months', 'MAKE LINE GREEN', ' 43', '81', '"young"',
       '7 or 8', '78', '17 & 16', 'F', 'Both 11', '9 or 10', 'young',
       '36 & 23', '  ', 'A.M.', '?    &   14', '10 or 12', '31 or 33',
       '2½', '13 or 14'], dtype=object)